In [1]:
import mysql.connector
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import sys 

def connect():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="bandtec",
        database="bd_memory_time"
    )
    return connection

def close_connection(cursor, connection):
    cursor.close()
    connection.close()
    
def insert(byte_memory, time, acumulator, iterator_number, block_number, number_of_transactions):
    connection = connect()
    cursor = connection.cursor()
    
    cursor.execute(f'''INSERT INTO tbl_memory_time (byte_memory, runtime, acumulator, iterator_number, block_number, number_of_transactions) 
    VALUES ({sys.getsizeof(byte_memory)}, {time}, {acumulator}, {iterator_number}, {block_number}, {number_of_transactions});''')
    
    connection.commit()
    close_connection(cursor, connection)
    
cursor = connect()
print(cursor)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A26ACA9DF0>

In [2]:
def sum_time(n, block_number):
    start_date = datetime.now()
    final_date = 0
    acumulator = 0
    memory_vector = []
    iterator_number = 0
    
    for i in range(1, n+1):
        iterator_number += 1
        acumulator += i
        memory_vector.append(i)
        
        final_date = datetime.now()
        
        connection = connect()
        cursor = connection.cursor()

        cursor.execute(f'''INSERT INTO tbl_memory_time (byte_memory, runtime, acumulator, iterator_number, block_number, number_of_transactions) 
        VALUES ({sys.getsizeof(memory_vector)}, {(final_date - start_date).total_seconds()}, {acumulator}, {iterator_number}, {block_number}, {n});''')

        connection.commit()
        close_connection(cursor, connection)

In [ ]:
values = []
for value in range(100000, 600000, 100000):
    values.append(sum_time(value, 1))

In [ ]:
values = []
for value in range(1000, 6000, 100):
    values.append(sum_time(value, 2))

In [4]:
values = []
for value in range(100, 600, 100):
    values.append(sum_time(value, 3))

In [3]:
values = []
for value in range(10, 60, 10):
    values.append(sum_time(value, 4))

In [ ]:
values = [] 
for value in range(1000000, 6000000, 1000000): 
    values.append(sum_time(value, 5))